* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}
h1, h2, h3, p, button {
  font-family: 'Roboto', sans-serif;
}

main{background-color: #fff;
  padding: 0px 20px 20px 20px ;
}
.header {
  font-weight:500 ;
  display: flex;
  justify-content:flex-end ;
 padding-right: 30px;
}
.header p {
  font-family: Roboto;
  color:#858181 ;
  font-size: 24px;
 letter-spacing: 0 ;
 line-height: 100%;
}
.header p span {
  color: #C4C4C4;
}
  
.patient-details {
  display: flex;
  justify-content: space-between;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 9.1px 0px rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;    
}

.patient-details-sec {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-right: 0.5px solid #eee9e9;
  padding: 5px 15px;
  align-items: flex-start;
}

.patient-details-sec:last-child {
  border-right: none;
}

.patient-details-sec:nth-child(1) {
  flex: 2; 
}

.patient-details-sec:nth-child(2) {
  flex: 2;
}

.patient-details-sec:nth-child(3) {
  flex: 1; 
}

#info-label {
  flex: 1;
}

#info-value {
  flex: 1;
}

#info-label p {
  font-family: Roboto;
  color: #858181; 
  font-size: 24px;
  margin: 8px 0;
  text-align: left;
  font-weight: 700 ;
  letter-spacing: 0 ;
 line-height: 100%;
 white-space: nowrap;
}

#info-value p {
  font-family: Roboto;
  color: #C4C4C4; 
  font-size: 24px;
  margin: 8px 0;
  text-align: right;
  font-weight:700 ;
  letter-spacing: 0 ;
 line-height: 100%;
 white-space: nowrap;
}

.info-row {
  display: flex;
  margin-bottom: 10px;
}

.info-col {
  flex: 1;
  padding: 5px;
}

.patient-name {
  color: #333;
  font-weight: bold;
}
.marital-status{
  display: flex;
  gap:5px
}

.action-buttons {
  display: flex;
  gap:1px;
  margin-bottom: 26px;

}
.btn {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  padding: 3px 5px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 0;
  white-space: nowrap;
}
.btn-red {
  background-color: #A12B2B;
}
.btn-none {
  background-color: #fff;
  color:#A12B2B ;
  border:1px solid  #A12B2B;
}
.amputation-section {
  margin-bottom: 20px;
}
.section-title {
  font-family: Roboto;
  display: flex;
  gap:6px;
  color: #858181;
  margin-bottom: 5px;
  font-size: 14px;
  padding-bottom: 5px;
}
.section-title label{
  color: #858181;
  font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;

}
.section-title-div{
  margin-top: -5px;
}
#section-title-input{
  width: 80vh;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #C4C4C4;
 
}
.border-buttom{
  color: #AA2F2F;
  border-bottom: 1px solid #ddd;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  position: relative;
  gap:20px;
  margin: 0 18px 0 0;
  padding: 0;
}

/* Hide the default checkbox */
.checkbox-item input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.checkbox-item label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 33px;
  height: 21px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 1.5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}


.checkbox-item input[type="checkbox"]:checked + label::before {
  background-color: #f0f0f0;
}


.checkbox-item input[type="checkbox"]:checked + label::after {
  content: "✓";
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: 14px;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 10px;
}
.checkbox-item {
  display: flex;
  align-items: center;
}
.checkbox-item label {
  margin-left:40px;
  font-size: 14px;
 
  color: #858181;
  font-family: Roboto;
}

.fitting-section {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
  margin-bottom: 15px;
}

.fitting-label {
  color: #888;
  font-size: 14px;
  display: flex;
  align-items: center; 
}

.fitting-options {
  display: flex;
  gap: 15px;
  align-items: center; 
}

.checkbox-item {
  display: flex;
  align-items: center; 
  min-width: 100px; 
}



.measurement-section {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  justify-content: start;
  align-items: start;
  padding: 0;
  margin: 20px 0;
}

.measurement-item {
  width: 100%;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.measurement-label {
  color: #858181;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

input[type="text"] {
  padding: 8px;
  width: 205;
  height: 51;
  border-radius: 5px;
  border-width: 1px;
  border: 1px solid #FFFBFB;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.subpage{
  padding: 20px;
  margin-bottom: 20px;
}


.observation-section {
  margin-bottom: 20px;
  position: relative;
}

#observationSelect {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  color: #888;
  background-color: #fff;
}

.select-container {
  position: relative;
  width: 150px;
  margin-right: 2px;
}

.select-box {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
}

.select-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 10;
  display: none;
}

.select-option {
  padding: 5px;
  cursor: pointer;
}

.select-option:hover {
  background-color: #f0f0f0;
}

.observation-controls {
  display: flex;
  margin-bottom: 15px;
}

.btn-add {
  background-color: #9C3030;
  color: white;
  font-family: Roboto;
  font-weight: 900;
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.observation-images-container {
  overflow-x: auto;
  padding-bottom: 15px; 
}

.observation-images {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  min-width: min-content;
}

.observation-image {
  background-color: #ffffffd4;
  border-radius: 2px;
  padding: 5px 20px 30px 20px;
  margin-bottom: 15px;
  display: none;
  flex-shrink: 0;
  width: fit-content;
}

.observation-image.active {
  display: block;
}

.image-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.image-header p {
  margin: 10px;
  color: #858181;
  font-size: 18px;
  font-weight: bold;
}

.close-icon {
  margin: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #AA2F2F;
  font-weight: bold;
}

.close-icon:hover {
  color: #8a2424;
}

.body-img {
  height: 450px;
}

/* horizontal scrolling */
@media (max-width: 1200px) {
  .observation-images {
    grid-template-columns: repeat(2, auto);
    overflow-x: auto;
  }
}
.measurement-grid {
  display: flex;
  margin: 0 40px;
  justify-content: space-between;
  gap: 10px;
}
.measurement-diagram {
  text-align: center;
  
}
#field-margin-top{
  margin-top: 20px;
}
#field-margin-bottom{
 margin-bottom: 20px;
}
.measurement-field {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.measurement-field input {
  width: 83px;
  height: 30px;
  
}

.recommendation-section {
  margin-top: 20px;
}
.recommendation-label {
  color: #888;
  font-size: 14px;
  margin-bottom: 5px;
}
.observation-inp {
  width: 30%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  resize: vertical;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #FFFBFB;
}
.save-btn {
  background-color: #AA2F2F;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}